@model IEnumerable<Metricos.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAME_COURSE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HOURS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATE_CREATED)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CREATED_BY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACTIVE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME_COURSE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HOURS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_CREATED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATED_BY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACTIVE)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
